<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIME VIEW </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background-banner">
        <div class="blur">
        <div class="gallery">
            <img src="wallpapersden.com_boku-no-hero-deku_1920x1080.jpg" alt="img">
            <img src="wallpapersden.com_mikey-manjiro-sano-hd-tokyo-revengers_1920x1080.jpg" alt="img">
            <img src="wallpapersden.com_nezuko-demon-slayer-2024-ai-art_1920x1080.jpg" alt="img">
            <img src="wallpapersden.com_satoru-gojo-and-suguru-geto-friendship-art_1920x1080.jpg" alt="img">
            <img src="wallpapersden.com_sung-jin-woo-digital-solo-leveling_1920x1080.jpg" alt="img">
            
            
        </div>
        </div>
    </div>
    
</body>
</html>